{% extends 'company/dash/base.html' %}
{% load static %}
{% block NewContent %}

<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Add New Product </h4>
      <p class="card-description">
        Add Basic Details
      </p>
      <form class="forms-sample" method="POST" enctype="multipart/form-data">
           {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputName1">Name</label>
          <input type="text" class="form-control" id="exampleInputName1" name="name"  placeholder="Name">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail3">price</label>
          <input type="number" class="form-control" id="exampleInputEmail3" name="price"  placeholder="price">
        </div>
        
        <div class="form-group">
          <label for="exampleInputName1">Quantity</label>
          <input type="number" class="form-control" id="exampleInputName1" name="qty"  placeholder="Quantity">
        </div>

        <div class="form-group">
            <label for="exampleInputName1">Image</label>
            <input type="file" class="form-control" id="exampleInputName1" name="image" >
          </div>
       
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        
      </form>
    </div>
  </div>
</div>

{% endblock NewContent %}