{% extends 'company/dash/base.html' %}
{% load static %}
{% block NewContent %}

<div class="row">

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Product Details</h4>
            
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Sr No.</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Qty</th>
                  </tr>
                </thead>
                <tbody>
                    {% for i in prod %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                        {% if i.prod_pic %}
                        <br>
                        <img src="{{ i.prod_pic.url }}" width="100px">

                        {% endif %}

                    </td>
                    <td>{{ i.prod_name }}</td>
                    <td>{{ i.prod_price }}</td>
                    <td>{{ i.prod_qt }}</td>
                    <td> 
                        <a href="{% url 'deleteproduct' i.id %}" class="badge badge-danger">Delete</a>
                        <a href="{% url 'updateproduct' i.id %}" class="badge badge-info">Update</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
</div>

{% endblock NewContent %}